################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backup*
/UpgradeLog*.html
/UpgradeLog*.htm
*/obj
*/bin
*/pkg
*/pkgobj
*.csproj.user
*.csproj.vspscc
*.suo
*.vssscc